# Eventually it would be preferrable to have a specific version to ensure
# that we're all in sync and are preventing dependency pain

dbt-bigquery==1.11.0
sqlfluff==3.0.7
sqlfluff-templater-dbt==3.0.7
diff-cover==7.2.0
